name: Daily Tech Email

on:
  schedule:
    # 每天北京时间9点 = UTC 1点
    - cron: "0 1 * * *"
  workflow_dispatch:  # 支持手动触发

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install requests feedparser beautifulsoup4 python-dateutil lxml newspaper3k

    - name: Run main.py
      env:
        MAIL_USER: ${{ secrets.MAIL_USER }}
        MAIL_PASS: ${{ secrets.MAIL_PASS }}
        HF_API_KEY: ${{ secrets.HF_API_KEY }}
      run: python main.py
